* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul ul {
    margin-left: 40px;
    list-style-type: disc;
    margin-bottom: 10px;
  }
  ul li{
    font-size: 16px;
  }
  