.form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container input[type="text"]{
    width: 250px;
    height: 40px;
    padding: 10px;
}
.error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 2px;
  }